### Fichiers d'IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

### Fichiers d'outils de build ###
bin/
out/
target/
.gradle/
build/

### Fichiers de compilation ###
*.class

### Logs ###
*.log

### Fichiers de l'OS ###
.DS_Store
Thumbs.db
*.tmp

### Packages ###
*.jar
!lib/*.jar
*.war
*.ear

### Variables d'environnement / Configuration locale ###
*.env
application-local.properties
application-local.yml

### Fichiers de Sauvegarde ###
*.sav